<li>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="news-title">{{title}} {{#unless saved}}
                <button class="saved btn btn-sm btn-light float-right" data-id="{{id}}" data-title="{{title}}"
                    data-saved="{{saved}}">
                    Save Article
                </button>{{/unless}} {{#if saved}}
                <button class='note btn btn-sm btn-light float-right' data-id="{{id}}"
                    data-title="{{title}}" data-saved="{{saved}}">
                    Article Note
                </button>
                <button class='delete btn btn-sm btn-danger float-right' data-id='{{id}}'>
                    Delete
                </button> {{/if}}
            </h4>
        </div>
        <div class="card-body">
            <a class="card-text" href='{{link}}'>{{link}}</a>
            <p class='card-text'>{{summary}}</p>
        </div>
    </div>
</li>